<div class='label'>
  {{label}}
</div>
<div class='control'>
  {{#if (eq type "checkbox")}}
    {{frost-checkbox
      id=label
      onInput=_controlsPane.onChange
    }}
  {{/if}}
  {{#if (eq type "button-group")}}
    {{#each buttons as |button|}}
      {{!-- <input type='button' value={{button.text}}
         onclick={{action 'onButtonClick' button.text}}> --}}
         {{frost-button
           size='small'
           priority='tertiary'
           text=button.text
           onClick=(action 'onButtonClick' button.text)
         }}
     {{/each}}
  {{/if}}
  {{#if (eq type "text")}}
    {{frost-text
      value=value
      onInput=(action 'onTextChange')
    }}
  {{/if}}
  {{#if (eq type "multi-select")}}
    {{frost-multi-select
      data=data
      onChange=(action 'onEventSelect')
    }}
  {{/if}}
</div>
